.info {
	background-color: rgba(230 , 250 , 230 , 0.1);
	border: 1px solid #d4d8eb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: 0 1px 6px rgba(0,0,0,0.2);
	padding-bottom: 0px;
}

.chart {
	padding: 0px;
	border: 1px solid #d4d8eb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: 0 1px 6px rgba(0,0,0,0.2);
	padding-bottom: 0px;
}